.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo-circle {
  background-color: white;
  color: black;
  padding: 0.4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #24d86f; /* Green hover */
}

.download-btn {
  background-color: #24d86f;
  padding: 0.6rem 1.2rem;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: #1db85f;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
